/* Change your big heading text to blue */
h1 {
    color : #007bff;
    font-family: sans-serif;
    }
    /* Style the button with green background and white text */
    button {
        background-color: #28a745;
        color: blanchedalmond;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }